
.welcome{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

h1{
    padding-top: 4em;
    font-size: 300%;
    color: rgb(0, 68, 255);
    padding-bottom: 1em;
}

h2,h3{
    text-decoration: underline;
}

h2,h3{
    padding-bottom: 1em;
}

#line-one,#line-two,#line-three{

    font-size: larger;
    padding: 10px;
    

}


