.date,.time,.string{

text-align: center;
font-size: larger;

}
h2{
    padding-bottom: 20px;
}


.switch-input{
   
    border-radius: 20px;
    height: 30px;
    
}

.test{

    padding: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
#example{
    margin-top: 1%;
    font-weight: bold;
    font-size: larger;
}

.generate{
    background-color: rgb(209, 137, 89);
    border-radius: 10px;
    font-size: larger;
    padding: 10px;
    margin-top: 2em;
    cursor: pointer;   
  
}


.generate:hover{
    background-color: aqua;
}

.text{

    font-weight: bold;

    padding-top: 2%;
    

}

#string-head{
    padding: 20px
}

h1{
    text-decoration: underline;
}

h3{
    padding: 20px;
}